# DA210 Project 2 (data acquisition)
## Tran Ong, Tieu Ngan, Anh Le
1. Data sources:
Attached link: 

  https://en.wikipedia.org/api/rest_v1/page/html/List_of_anime_franchises_by_episode_count

  https://en.wikipedia.org/wiki/List_of_highest-grossing_Japanese_films#Highest-grossing_Japanese_films_worldwide

2. The format of data with given sources were already in HTML format.

3. How did you access and parse the data (explained below).

4. Central questions:
What are the predictors for a high-grossing anime (only box office earnings), among rankings, number of views, ratings, franchise revenues, and anime formats? And are there relationships between any two factors among release time, ending time, runtime, episode count, OVA count, and total episode count?

In [ ]:
import datetime
import requests

In [ ]:
import base64

In [ ]:
from lxml import etree
import io

In [ ]:
import numpy as np

At first step (after importing all libraries needed), we store the urls into variables and scrap the data with 'requests'.

In [ ]:
animeUrl = 'https://en.wikipedia.org/api/rest_v1/page/html/List_of_anime_franchises_by_episode_count'
res = requests.get(animeUrl)

wiki_html = res.text
# print (wiki_html)

Next, we parse the data with 'io string' and get the root of the tree after parsing

In [ ]:
htmlparser = etree.HTMLParser()
try:
    # This one should work
    tree = etree.parse(io.StringIO(wiki_html), parser=htmlparser)
    # root of the whole wiki page in HTML
    root = tree.getroot()
except:
    print("Failed to parse as HTML")

'performXML' function helps to convert XML to normal objects/primary data type in python (list,dictionary) and work with the converted data with pandas.

In [ ]:
def performXML(node,pos):
  table = []
  index = []
  columns = []
  for x in node[pos].getchildren():
    for y in x.getchildren():
      # y: each row in the table 
      # print (etree.tostring(y, pretty_print=True).decode())
      row = []
      for c in y.getchildren():
        # c: each column/value of one row in the table 
        if c.tag == 'td':
          # print (etree.tostring(c, pretty_print=True).decode())
          if c.text != None:
            row.append(c.text.strip('\n'))
          else:
            a = c.find('i')
            if a != None:
              a = a.find('a').text
              row.append(a)
            else:
              row.append(0)
              # print (etree.tostring(c, pretty_print=True).decode())
        else:
          if c.text != None:
            columns.append(c.text)
          else:
            a = c.find('i')
            if a != None: 
              a = a.find('a').text
              # print (a)
              row.append(a)
      if row != []: table.append(row)
  return table, columns, index

In [ ]:
node = root.xpath("//table[contains(@class,'wikitable')]")
# use of xpath to extract the node we will use in the future exactly/
table, columns, index = performXML(node,0)
# 0 is the index of the first and only table of the given path.

In [ ]:
# columns.pop(0)
print (columns)
print (table)

['No.', 'Title', 'Started Broadcasting', 'Finished Broadcasting', 'Runtime (TV)', 'Episode(s)(TV)', 'Other(s)', 'Total count']
[['1', 'Doraemon', '1 Apr 1973', 0, '22-24 minutes', '3,003', '67', '3,070'], ['2', 'Sazae-san', '5 Oct 1969', 0, '22-24 minutes', '2,640', 0, '2,640+'], ['3', 'Nintama Rantarō', '10 Apr 1993', 0, '10 minutes', '2,199', '3', '2,202'], ['4', 'Ojarumaru', '5 Oct 1998', 0, '10 minutes', 0, '4', '1,831'], ['5', 'Oyako Club', '3 Oct 1994', '30 Mar 2013', '5 minutes', '1,818', 0, '1,818'], ['6', 'Soreike! Anpanman', '3 Oct 1988', 0, '24 minutes', 0, '113', '1,700'], ['7', 'Kirin Monoshiri Yakata', '1 Jan 1975', '31 Dec 1979', '5 minutes', '1,565', 0, '1,565'], ['8', 'Chibi Maruko-chan', '7 Jan 1990', 0, '24 minutes', '1,493', '64', '1,557'], ['9', 'Kirin Ashita no Calendar', '1 Jan 1980', '30 Dec 1984', '5 minutes', '1,498', 0, '1,498'], ['10', 'Manga Nippon Mukashi Banashi', '7 Jan 1975', '2 Jan 1995', '24 minutes', '1,494', 0, '1,494'], ['11', 'Hoka Hoka Kazoku', '1 Oct 1976', '31 Mar 1982', '5 minutes', '1,428', 0, '1,428'], ['12', 'Shimajirō', '13 Dec 1993', 0, '24 minutes', '1,403', '8', '1,411'], ['13', 'Pokémon', '1 Apr 1997', 0, '24 minutes', 0, '144', '1,366'], ['14', 'Monoshiri Daigaku Ashita no Calendar', '1 July 1966', '2 Aug 1970', '5 minutes', '1,274', 0, '1,274'], ['15', 'Transformers', '17 Sep 1984', 0, 0, '1,199', '5', '1,204'], ['16', 'Crayon Shin-chan', '13 Apr 1992', 0, '24 minutes', '1,083', '124', '1,207'], ['17', 'Yu-Gi-Oh!', '4 Apr 1998', 0, '24 minutes', '1,126', '7', 0], ['18', 'Case Closed', '8 Jan 1996', 0, '24 minutes', 0, '60', '1,113'], ['19', 'One Piece', '20 Oct 1999', 0, '24 minutes', 0, '47', '1,091'], ['20', 'Naruto', '3 Oct 2002', 0, '24 minutes', '720', '348', '1,068'], ['21', 'Gundam', '7 Apr 1979', 0, 0, '755', '279', '1,034'], ['22', 'Sekai Monoshiri Ryoko', '1 Oct 1971', '31 Dec 1974', '5 minutes', '1,006', 0, '1,006'], ['23', 'Pretty Cure', '1 Feb 2004', 0, '24 minutes', '879', '31', '910'], ['24', 'Dragon Ball', '26 Feb 1986', 0, '24 minutes', '639', '241', '881'], ['25', 'Duel Masters', '22 Oct 2002', 0, 0, '848', '5', '853'], ['26', 'Kotowaza House', '4 Apr 1987', '28 Sep 1994', '24 minutes', '773', 0, '773'], ['27', 'Ninja Hattori-kun', '28 Sep 1981', '16 Feb 2015', '10 minutes', '746', '5', '751'], ['28', 'Obake no Q-tarō', '29 Aug 1965', '29 Mar 1987', '24 minutes', '741', '3', '744'], ['29', 'Beyblade', '8 Jan 2001', '18 March 2022', '12-24 minutes', '662', '54', 0], ['30', 'Otogi Manga Calendar', '1 May 1961', '4 July 1964', 0, '624', 0, '624'], ['31', 'Perman', '12 Mar 1983', '6 Mar 2004', '12 minutes', '591', '8', '599'], ['32', 'GeGeGe no Kitarō', '3 Jan 1968', 0, '24 minutes', '547', 0, '547'], ['33', 'Cardfight!! Vanguard', '8 Jan 2011', 0, 0, 0, 0, '510'], ['34', 'Hamtaro', '7 July 2000', '30 Mar 2013', 0, 0, 0, '480'], ['35', 'Digimon', '7 Mar 1999', 0, '24 minutes', 0, 0, '474'], ['36', 'Jewelpet', '5 Apr 2009', 0, 0, '463', 0, '463'], ['37', 'Brave series', '3 February 1990', '27 June 2005', 0, 0, 0, '430'], ['38', 'Keroro Gunso', '3 Apr 2004', '25 Sep 2012', '24 minutes', 0, 0, '413'], ['39', 'Battle Spirits', '7 Sep 2008', 0, 0, 0, 0, '401'], ['40', 'Kochira Katsushika-ku', '16 June 1996', '19 Dec 2004', 0, 0, 0, '384'], ['41', 'B-Daman', '7 Feb 1998', '29 Sep 2013', 0, 0, 0, '375'], ['42', 'Gin Tama', '8 Dec 2003', '7 Oct 2018', '24 minutes', 0, '9', '378'], ['43', 'Bleach', '5 Oct 2004', '27 Mar 2012', '24 minutes', '366', '6', '372'], ['44', 'Manga Jinbutsushi', '3 Aug 1970', '30 Sep 1971', 0, 0, 0, '366'], ['45', 'Charady no Joke na Mainichi', '1 Apr 2009', '30 Mar 2010', 0, 0, 0, '365'], ['46', 'Lupin III', '24 Oct 1971', 0, '24 minutes', '316', '47', '363'], ['47', 'Inazuma Eleven', '5 Oct 2008', '27 Sep 2019', 0, 0, 0, '343'], ['48', 'Dr. Slump', '8 Apr 1981', '3 Mar 2007', '24 minutes', 0, 0, '341'], ['49', 'Fairy Tail', '12 Oct 2009', '29 Sep 2019', '24 minutes', '328', '11', '339'], ['50', 'Yo-kai Watch', '8 Jan 2014', 0, 0, 0, 0, '332'], ['51', "Atashin'chi", '19 Apr 2002', '19 Sep 2009', 0, 0, 0, '331'], ['52', 'Kiteretsu Daihyakka', '27 Mar 1988', '9 June 1996', 0, 0, 0, '331'], ['53', 'Saint Seiya', '11 Oct 1986', 0, '24 minutes', '318', 0, '318'], ['54', 'Rockman', '11 Sep 1994', '29 Mar 2008', 0, 0, 0, '312'], ['55', 'Kinnikuman', '3 Apr 1983', '29 Mar 2006', 0, 0, 0, '305'], ['56', 'Manga Hajimete Monogatari', '6 May 1978', '31 May 1984', 0, 0, 0, '305'], ['57', 'Ikkyū-san', '15 Oct 1975', '28 June 1982', 0, 0, 0, '302'], ['58', 'Hyppo and Thomas', '1 Jan 1971', '30 Sep 1972', 0, 0, 0, '300'], ['59', 'Miracle! Mimika', '3 Apr 2006', '27 Mar 2009', 0, 0, 0, '300'], ['60', 'Tamagotchi!', '12 Oct 2009', 0, 0, 0, 0, '297'], ['61', 'Astro Boy', '1 Jan 1963', '28 Mar 2004', 0, 0, 0, '295'], ['62', "Chi's Sweet Home", '31 Mar 2008', '30 Sep 2018', 0, '284', '1', '285'], ['63', 'Dotanba no Manners', '3 Oct 1984', '9 Apr 1987', 0, 0, 0, '283'], ['64', 'Bakugan Battle Brawlers', '5 Apr 2007', '28 Dec 2013', 0, 0, 0, '279'], ['65', 'Star of the Giants', '30 Mar 1968', '29 Sep 1979', 0, 0, 0, '263'], ['66', 'Gan to Gon', '5 Apr 1974', '13 Aug 1975', 0, 0, 0, '260'], ['67', 'Hoshi no Ko Poron', '1 Apr 1974', '21 Mar 1975', 0, 0, 0, '260'], ['68', "A Penguin's Troubles", '5 Apr 2008', '30 Mar 2013', 0, 0, 0, '254'], ['69', 'Captain Harlock', '14 Mar 1978', '30 Dec 2003', 0, 0, 0, '248'], ['70', 'Ojamajo Doremi', '7 Feb 1999', '15 Nov 2020', '24 minutes', '214', '39', '253'], ['71', 'Sailor Moon', '7 Mar 1992', 0, '24 minutes', '239', '8', '247'], ['72', 'Captain Tsubasa', '10 Oct 1983', '6 Oct 2002', 0, 0, 0, '244'], ['73', 'Hunter × Hunter', '16 Oct 1999', '24 Sep 2014', '24 minutes', '62+148', '33', '243'], ['74', 'The Prince of Tennis', '10 Oct 2001', '26 Jun 2015', 0, 0, 0, '242'], ['75', 'Itazura Tenshi Chippo-chan', '30 Mar 1970', '31 Dec 1970', 0, 0, 0, '240'], ['76', 'Macross', '3 Oct 1982', '25 Sep 2016', 0, 0, 0, '237'], ['77', 'Science Ninja Team Gatchaman', '1 Oct 1972', '27 Sep 2015', 0, 0, 0, '236'], ['78', 'Urusei Yatsura', '14 Oct 1981', 0, 0, '194', 0, '226'], ['79', 'Tensai Bakabon', '25 Sep 1971', '25 Sep 2018', 0, '225', 0, '225'], ['80', 'Moomin', '5 Oct 1969', '26 Mar 1992', 0, 0, 0, '221'], ['81', 'Mazinger', '2 Oct 1972', '28 Oct 2017', 0, '197', '21', '218'], ['82', 'Future Card Buddyfight', '4 Jan 2014', 0, 0, 0, 0, '212'], ['83', 'Hikarian', '2 Apr 1997', '31 Mar 2002', 0, 0, 0, '211'], ['84', 0, '4 Mar 2002', '30 Sep 2006', 0, 0, 0, '209'], ['85', 'Katekyō Hitman Reborn!', '7 Oct 2006', '25 Sep 2010', 0, 0, 0, '204'], ['86', 'The Kindaichi Case Files', '7 Apr 1997', '26 Mar 2016', 0, 0, 0, '200'], ['87', 'Holly the Ghost', '28 Jan 1991', '12 Apr 1993', 0, 0, 0, '200'], ['88', 'Parasol Henbee', '2 Oct 1989', '12 Jan 1991', 0, 0, 0, '200']]

In [ ]:
for row in table:
  pop = row.pop(0)
  index.append(pop)
  if row[2] == 0: row[2] = 'Ongoing'
print (table)

[['Doraemon', '1 Apr 1973', 'Ongoing', '22-24 minutes', '3,003', '67', '3,070'], ['Sazae-san', '5 Oct 1969', 'Ongoing', '22-24 minutes', '2,640', 0, '2,640+'], ['Nintama Rantarō', '10 Apr 1993', 'Ongoing', '10 minutes', '2,199', '3', '2,202'], ['Ojarumaru', '5 Oct 1998', 'Ongoing', '10 minutes', 0, '4', '1,831'], ['Oyako Club', '3 Oct 1994', '30 Mar 2013', '5 minutes', '1,818', 0, '1,818'], ['Soreike! Anpanman', '3 Oct 1988', 'Ongoing', '24 minutes', 0, '113', '1,700'], ['Kirin Monoshiri Yakata', '1 Jan 1975', '31 Dec 1979', '5 minutes', '1,565', 0, '1,565'], ['Chibi Maruko-chan', '7 Jan 1990', 'Ongoing', '24 minutes', '1,493', '64', '1,557'], ['Kirin Ashita no Calendar', '1 Jan 1980', '30 Dec 1984', '5 minutes', '1,498', 0, '1,498'], ['Manga Nippon Mukashi Banashi', '7 Jan 1975', '2 Jan 1995', '24 minutes', '1,494', 0, '1,494'], ['Hoka Hoka Kazoku', '1 Oct 1976', '31 Mar 1982', '5 minutes', '1,428', 0, '1,428'], ['Shimajirō', '13 Dec 1993', 'Ongoing', '24 minutes', '1,403', '8', '1,411'], ['Pokémon', '1 Apr 1997', 'Ongoing', '24 minutes', 0, '144', '1,366'], ['Monoshiri Daigaku Ashita no Calendar', '1 July 1966', '2 Aug 1970', '5 minutes', '1,274', 0, '1,274'], ['Transformers', '17 Sep 1984', 'Ongoing', 0, '1,199', '5', '1,204'], ['Crayon Shin-chan', '13 Apr 1992', 'Ongoing', '24 minutes', '1,083', '124', '1,207'], ['Yu-Gi-Oh!', '4 Apr 1998', 'Ongoing', '24 minutes', '1,126', '7', 0], ['Case Closed', '8 Jan 1996', 'Ongoing', '24 minutes', 0, '60', '1,113'], ['One Piece', '20 Oct 1999', 'Ongoing', '24 minutes', 0, '47', '1,091'], ['Naruto', '3 Oct 2002', 'Ongoing', '24 minutes', '720', '348', '1,068'], ['Gundam', '7 Apr 1979', 'Ongoing', 0, '755', '279', '1,034'], ['Sekai Monoshiri Ryoko', '1 Oct 1971', '31 Dec 1974', '5 minutes', '1,006', 0, '1,006'], ['Pretty Cure', '1 Feb 2004', 'Ongoing', '24 minutes', '879', '31', '910'], ['Dragon Ball', '26 Feb 1986', 'Ongoing', '24 minutes', '639', '241', '881'], ['Duel Masters', '22 Oct 2002', 'Ongoing', 0, '848', '5', '853'], ['Kotowaza House', '4 Apr 1987', '28 Sep 1994', '24 minutes', '773', 0, '773'], ['Ninja Hattori-kun', '28 Sep 1981', '16 Feb 2015', '10 minutes', '746', '5', '751'], ['Obake no Q-tarō', '29 Aug 1965', '29 Mar 1987', '24 minutes', '741', '3', '744'], ['Beyblade', '8 Jan 2001', '18 March 2022', '12-24 minutes', '662', '54', 0], ['Otogi Manga Calendar', '1 May 1961', '4 July 1964', 0, '624', 0, '624'], ['Perman', '12 Mar 1983', '6 Mar 2004', '12 minutes', '591', '8', '599'], ['GeGeGe no Kitarō', '3 Jan 1968', 'Ongoing', '24 minutes', '547', 0, '547'], ['Cardfight!! Vanguard', '8 Jan 2011', 'Ongoing', 0, 0, 0, '510'], ['Hamtaro', '7 July 2000', '30 Mar 2013', 0, 0, 0, '480'], ['Digimon', '7 Mar 1999', 'Ongoing', '24 minutes', 0, 0, '474'], ['Jewelpet', '5 Apr 2009', 'Ongoing', 0, '463', 0, '463'], ['Brave series', '3 February 1990', '27 June 2005', 0, 0, 0, '430'], ['Keroro Gunso', '3 Apr 2004', '25 Sep 2012', '24 minutes', 0, 0, '413'], ['Battle Spirits', '7 Sep 2008', 'Ongoing', 0, 0, 0, '401'], ['Kochira Katsushika-ku', '16 June 1996', '19 Dec 2004', 0, 0, 0, '384'], ['B-Daman', '7 Feb 1998', '29 Sep 2013', 0, 0, 0, '375'], ['Gin Tama', '8 Dec 2003', '7 Oct 2018', '24 minutes', 0, '9', '378'], ['Bleach', '5 Oct 2004', '27 Mar 2012', '24 minutes', '366', '6', '372'], ['Manga Jinbutsushi', '3 Aug 1970', '30 Sep 1971', 0, 0, 0, '366'], ['Charady no Joke na Mainichi', '1 Apr 2009', '30 Mar 2010', 0, 0, 0, '365'], ['Lupin III', '24 Oct 1971', 'Ongoing', '24 minutes', '316', '47', '363'], ['Inazuma Eleven', '5 Oct 2008', '27 Sep 2019', 0, 0, 0, '343'], ['Dr. Slump', '8 Apr 1981', '3 Mar 2007', '24 minutes', 0, 0, '341'], ['Fairy Tail', '12 Oct 2009', '29 Sep 2019', '24 minutes', '328', '11', '339'], ['Yo-kai Watch', '8 Jan 2014', 'Ongoing', 0, 0, 0, '332'], ["Atashin'chi", '19 Apr 2002', '19 Sep 2009', 0, 0, 0, '331'], ['Kiteretsu Daihyakka', '27 Mar 1988', '9 June 1996', 0, 0, 0, '331'], ['Saint Seiya', '11 Oct 1986', 'Ongoing', '24 minutes', '318', 0, '318'], ['Rockman', '11 Sep 1994', '29 Mar 2008', 0, 0, 0, '312'], ['Kinnikuman', '3 Apr 1983', '29 Mar 2006', 0, 0, 0, '305'], ['Manga Hajimete Monogatari', '6 May 1978', '31 May 1984', 0, 0, 0, '305'], ['Ikkyū-san', '15 Oct 1975', '28 June 1982', 0, 0, 0, '302'], ['Hyppo and Thomas', '1 Jan 1971', '30 Sep 1972', 0, 0, 0, '300'], ['Miracle! Mimika', '3 Apr 2006', '27 Mar 2009', 0, 0, 0, '300'], ['Tamagotchi!', '12 Oct 2009', 'Ongoing', 0, 0, 0, '297'], ['Astro Boy', '1 Jan 1963', '28 Mar 2004', 0, 0, 0, '295'], ["Chi's Sweet Home", '31 Mar 2008', '30 Sep 2018', 0, '284', '1', '285'], ['Dotanba no Manners', '3 Oct 1984', '9 Apr 1987', 0, 0, 0, '283'], ['Bakugan Battle Brawlers', '5 Apr 2007', '28 Dec 2013', 0, 0, 0, '279'], ['Star of the Giants', '30 Mar 1968', '29 Sep 1979', 0, 0, 0, '263'], ['Gan to Gon', '5 Apr 1974', '13 Aug 1975', 0, 0, 0, '260'], ['Hoshi no Ko Poron', '1 Apr 1974', '21 Mar 1975', 0, 0, 0, '260'], ["A Penguin's Troubles", '5 Apr 2008', '30 Mar 2013', 0, 0, 0, '254'], ['Captain Harlock', '14 Mar 1978', '30 Dec 2003', 0, 0, 0, '248'], ['Ojamajo Doremi', '7 Feb 1999', '15 Nov 2020', '24 minutes', '214', '39', '253'], ['Sailor Moon', '7 Mar 1992', 'Ongoing', '24 minutes', '239', '8', '247'], ['Captain Tsubasa', '10 Oct 1983', '6 Oct 2002', 0, 0, 0, '244'], ['Hunter × Hunter', '16 Oct 1999', '24 Sep 2014', '24 minutes', '62+148', '33', '243'], ['The Prince of Tennis', '10 Oct 2001', '26 Jun 2015', 0, 0, 0, '242'], ['Itazura Tenshi Chippo-chan', '30 Mar 1970', '31 Dec 1970', 0, 0, 0, '240'], ['Macross', '3 Oct 1982', '25 Sep 2016', 0, 0, 0, '237'], ['Science Ninja Team Gatchaman', '1 Oct 1972', '27 Sep 2015', 0, 0, 0, '236'], ['Urusei Yatsura', '14 Oct 1981', 'Ongoing', 0, '194', 0, '226'], ['Tensai Bakabon', '25 Sep 1971', '25 Sep 2018', 0, '225', 0, '225'], ['Moomin', '5 Oct 1969', '26 Mar 1992', 0, 0, 0, '221'], ['Mazinger', '2 Oct 1972', '28 Oct 2017', 0, '197', '21', '218'], ['Future Card Buddyfight', '4 Jan 2014', 'Ongoing', 0, 0, 0, '212'], ['Hikarian', '2 Apr 1997', '31 Mar 2002', 0, 0, 0, '211'], [0, '4 Mar 2002', '30 Sep 2006', 0, 0, 0, '209'], ['Katekyō Hitman Reborn!', '7 Oct 2006', '25 Sep 2010', 0, 0, 0, '204'], ['The Kindaichi Case Files', '7 Apr 1997', '26 Mar 2016', 0, 0, 0, '200'], ['Holly the Ghost', '28 Jan 1991', '12 Apr 1993', 0, 0, 0, '200'], ['Parasol Henbee', '2 Oct 1989', '12 Jan 1991', 0, 0, 0, '200']]

In [ ]:
runtime_convert = {'22-24 minutes': 22, '24 minutes': 24, '5 minutes': 5, '10 minutes': 10, '12 minutes': 12, '12-24 minutes': 12}
for x in table:
  x[5] = int(x[5])
  if type(x[4]) is str and len(x[4]) == 5: x[4] = int(x[4][0:1] + x[4][2:])
  else: 
    if x[4] == '62+148': x[4] = 62 + 148
    else: x[4] = int(x[4])
  if x[0] == 'Ojarumaru': x[4] = 1827
  if x[0] == 'Soreike! Anpanman': x[4] = 1587
  if x[0] == 'Pokémon': x[4] = 1220
  x[1] = int(x[1][-4:])
  if x[2] != 'Ongoing': x[2] = int(x[2][-4:])
  else: x[2] = 2022
  if type(x[3]) is str: x[3] = int(runtime_convert[x[3]])

From the above url, we create a dataframe for *the list of anime series by franchise series total episode count*. We only take a sample of 50 series. This data will also be created as a SQlite table called top_series.

In [ ]:
import pandas as pd

# 50 Anime series by franchise series total episode count
df = pd.DataFrame(table)
df.columns = ['Series name', 'Year release', 'End Broadcasting Year', 'Runtime (min on TV)', 'Episode count', 'Others', 'Total count']

In [ ]:
df['Runtime (min on TV)'].replace(0, np.NaN, inplace = True)

In [ ]:
df

,Series name,Year release,End Broadcasting Year,Runtime (min on TV),Episode count,Others,Total count
0,Doraemon,1973,2022,22.0,3003,67,"3,070"
1,Sazae-san,1969,2022,22.0,2640,0,"2,640+"
2,Nintama Rantarō,1993,2022,10.0,2199,3,"2,202"
3,Ojarumaru,1998,2022,10.0,1827,4,"1,831"
4,Oyako Club,1994,2013,5.0,1818,0,"1,818"
...,...,...,...,...,...,...,...
83,0,2002,2006,NaN,0,0,209
84,Katekyō Hitman Reborn!,2006,2010,NaN,0,0,204
85,The Kindaichi Case Files,1997,2016,NaN,0,0,200
86,Holly the Ghost,1991,1993,NaN,0,0,200
87,Parasol Henbee,1989,1991,NaN,0,0,200

In [ ]:
def convert2int(s):
  # print (type(s))
  if type(s) is str:
    s = s.replace(',', '')
    s = s.replace('+', '')
    return int(s)
  return s
total = df['Total count']
total_count = [convert2int(x) for x in total]
table_v1 = {'Series name': list(df['Series name']),'Year release': list(df['Year release']), 'End Broadcasting Year': list(df['End Broadcasting Year']), 'Runtime (min on TV)': list(df['Runtime (min on TV)']), 'Others': list(df['Others']), 'Total count': total_count}
df_v1 = pd.DataFrame(table_v1)
df_v1

,Series name,Year release,End Broadcasting Year,Runtime (min on TV),Others,Total count
0,Doraemon,1973,2022,22.0,67,3070
1,Sazae-san,1969,2022,22.0,0,2640
2,Nintama Rantarō,1993,2022,10.0,3,2202
3,Ojarumaru,1998,2022,10.0,4,1831
4,Oyako Club,1994,2013,5.0,0,1818
...,...,...,...,...,...,...
83,0,2002,2006,NaN,0,209
84,Katekyō Hitman Reborn!,2006,2010,NaN,0,204
85,The Kindaichi Case Files,1997,2016,NaN,0,200
86,Holly the Ghost,1991,1993,NaN,0,200
87,Parasol Henbee,1989,1991,NaN,0,200

For DataFrame df - 50 Anime series by franchise series total episode count, we can find the relationship between any two of the following for anime series: Year release, End Broadcasting Time, Runtime (min on TV), Episode count, Others, Total count.

In [ ]:
# Grossing of Japanese Films
path = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_Japanese_films#Highest-grossing_Japanese_films_worldwide'

In [ ]:
res = requests.get(path)

wiki_html = res.text
htmlparser = etree.HTMLParser()
try:
    # This one should work
    tree = etree.parse(io.StringIO(wiki_html), parser=htmlparser)
    # root of the whole wiki page in HTML
    root0 = tree.getroot()
except:
    print("Failed to parse as HTML")
node0 = root0.xpath("//table[contains(@class,'plainrowheaders')]")
# node0 = root0.xpath("//table[position()=1]")

Based on the data from the url, we create three DataFrames that reflect 3 lists of top Japanese anime movie: 
* Top 50 highest gross Japanese films worldwide - df0
* Top 50 highest gross japanese films in Japan - df1
* Top 50 box ticket sales all the time - df2

These lists help us answer the main question: What are the predictors for a high-grossing anime (only box office earnings), among rankings, number of views, ratings, franchise revenues, and anime formats?

In [ ]:
#Top 50 highest gross Japanese films worldwide
table0, columns0, index0 = performXML(node0,0)
table0[0][3] = 'Anime'
table0[3][0] = "Howl's Moving Castle"
for x in table0:
  a = x[1][1:]
  a = a.replace(',', '')
  a = a.replace('$', '')
  x[1] = int(a)
print (table0)

[['Demon Slayer the Movie: Mugen Train', 506523013, '2020', 'Anime', 0], ['Spirited Away', 395580000, '2001', 'Anime', 0], ['Your Name', 380140500, '2016', 'Anime', 0], ["Howl's Moving Castle", 236323601, '2004', 'Anime', 0], ['One Piece Film: Red', 206740295, '2022', 'Anime', 0], ['Ponyo', 204826668, '2008', 'Anime', 0], ['Jujutsu Kaisen 0', 195870885, '2021', 'Anime', 0], ['Weathering with You', 193715360, '2019', 'Anime', 0], ['Stand by Me Doraemon', 183442714, '2014', 'Anime', 0], ['Pokémon: The First Movie', 172744662, '1998', 'Anime', 0], ['Princess Mononoke', 170005875, '1997', 'Anime', 0], ['Bayside Shakedown 2', 164450000, '2003', 0, 0], ['The Secret World of Arrietty', 149411550, '2010', 'Anime', 0], ['The Wind Rises', 136533257, '2013', 'Anime', 0], ['Pokémon: The Movie 2000', 133949270, '1999', 'Anime', 0], ['Dragon Ball Super: Broly', 122747755, '2018', 'Anime', 0], ['Detective Conan: The Fist of Blue Sapphire', 115570314, '2019', 'Anime', 0], ['Bayside Shakedown: The Movie', 115000000, '1998', 'Live-action', 0], ['Detective Conan: Zero the Enforcer', 108207000, '2018', 'Anime', 0], ['The Adventures of Milo and Otis', 104121749, '1986', 'Live-action', 0], ['Detective Conan: The Scarlet Bullet', 102541282, '2021', 'Anime', 0], ['Antarctica', 101000000, '1983', 'Live-action', 0], ['Yo-kai Watch: The Movie', 99481307, '2014', 'Anime', 0], ['Umizaru 3: The Last Message', 98663381, '2010', 'Live-action', 0], ['One Piece: Stampede', 93000000, '2019', 'Anime', 0], ['Evangelion: 3.0+1.0 Thrice Upon a Time', 92246218, '2021', 'Anime', 0], ['Brave Hearts: Umizaru', 91884352, '2012', 'Live-action', 0], ['Rookies: Graduation', 88055243, '2009', 'Live-action', 0], ['Nodame Cantabile: The Movie II', 86192740, '2010', 'Live-action', 0], ['Bayside Shakedown 3', 85347374, '2010', 'Live-action', 0], ['Dragon Ball Super: Super Hero', 85100000, '2022', 'Anime', 0], ['The Eternal Zero', 84500000, '2013', 'Live-action', 0], ["Doraemon the Movie: Nobita's Treasure Island", 80920916, '2018', 'Anime', 0], ['Hero', 80400000, '2007', 'Live-action', 0], ['Code Blue: The Movie', 78778562, '2018', 'Live-action', 0], ['Shin Godzilla', 78053145, '2016', 'Live-action', 0], ['Tales from Earthsea', 75500000, '2006', 'Anime', 0], ['Thermae Romae', 75387554, '2012', 'Live-action', 0], ['Crying Out Love, in the Center of the World', 74849073, '2004', 'Live-action', 0], ['One Piece Film: Z', 74223861, '2012', 'Anime', 0], ['The Silk Road', 74123959, '1988', 'Live-action', 0], ['Detective Conan: The Bride of Halloween', 73766887, '2022', 'Anime', 0], ['Bayside Shakedown: The Final', 72867395, '2012', 'Live-action', 0], ['Hana Yori Dango Final', 72243609, '2008', 'Live-action', 0], ['Pokémon Zoroark: Master of Illusions', 71143529, '2010', 'Anime', 0], ['Pokémon 3: The Movie', 68411275, '2000', 'Anime', 0], ['Shoplifters', 67999335, '2018', 'Live-action', 0], ['Detective Conan: The Darkest Nightmare', 66265957, '2016', 'Anime', 0], ['One Piece Film: Gold', 66207073, '2016', 'Anime', 0], ["Doraemon: Nobita's Chronicle of the Moon Exploration", 65406606, '2019', 'Anime', 0]]

In [ ]:
df0 = pd.DataFrame(table0)
df0.columns = ['Movie name', 'Revenue (USD)', 'Year release', 'Genre', 'a']
df0

,Movie name,Revenue (USD),Year release,Genre,a
0,Demon Slayer the Movie: Mugen Train,506523013,2020,Anime,0
1,Spirited Away,395580000,2001,Anime,0
2,Your Name,380140500,2016,Anime,0
3,Howl's Moving Castle,236323601,2004,Anime,0
4,One Piece Film: Red,206740295,2022,Anime,0
5,Ponyo,204826668,2008,Anime,0
6,Jujutsu Kaisen 0,195870885,2021,Anime,0
7,Weathering with You,193715360,2019,Anime,0
8,Stand by Me Doraemon,183442714,2014,Anime,0
9,Pokémon: The First Movie,172744662,1998,Anime,0
10,Princess Mononoke,170005875,1997,Anime,0
11,Bayside Shakedown 2,164450000,2003,0,0
12,The Secret World of Arrietty,149411550,2010,Anime,0
13,The Wind Rises,136533257,2013,Anime,0
14,Pokémon: The Movie 2000,133949270,1999,Anime,0
15,Dragon Ball Super: Broly,122747755,2018,Anime,0
16,Detective Conan: The Fist of Blue Sapphire,115570314,2019,Anime,0
17,Bayside Shakedown: The Movie,115000000,1998,Live-action,0
18,Detective Conan: Zero the Enforcer,108207000,2018,Anime,0
19,The Adventures of Milo and Otis,104121749,1986,Live-action,0
20,Detective Conan: The Scarlet Bullet,102541282,2021,Anime,0
21,Antarctica,101000000,1983,Live-action,0
22,Yo-kai Watch: The Movie,99481307,2014,Anime,0
23,Umizaru 3: The Last Message,98663381,2010,Live-action,0
24,One Piece: Stampede,93000000,2019,Anime,0
25,Evangelion: 3.0+1.0 Thrice Upon a Time,92246218,2021,Anime,0
26,Brave Hearts: Umizaru,91884352,2012,Live-action,0
27,Rookies: Graduation,88055243,2009,Live-action,0
28,Nodame Cantabile: The Movie II,86192740,2010,Live-action,0
29,Bayside Shakedown 3,85347374,2010,Live-action,0
30,Dragon Ball Super: Super Hero,85100000,2022,Anime,0
31,The Eternal Zero,84500000,2013,Live-action,0
32,Doraemon the Movie: Nobita's Treasure Island,80920916,2018,Anime,0
33,Hero,80400000,2007,Live-action,0
34,Code Blue: The Movie,78778562,2018,Live-action,0
35,Shin Godzilla,78053145,2016,Live-action,0
36,Tales from Earthsea,75500000,2006,Anime,0
37,Thermae Romae,75387554,2012,Live-action,0
38,"Crying Out Love, in the Center of the World",74849073,2004,Live-action,0
39,One Piece Film: Z,74223861,2012,Anime,0
40,The Silk Road,74123959,1988,Live-action,0
41,Detective Conan: The Bride of Halloween,73766887,2022,Anime,0
42,Bayside Shakedown: The Final,72867395,2012,Live-action,0
43,Hana Yori Dango Final,72243609,2008,Live-action,0
44,Pokémon Zoroark: Master of Illusions,71143529,2010,Anime,0
45,Pokémon 3: The Movie,68411275,2000,Anime,0
46,Shoplifters,67999335,2018,Live-action,0
47,Detective Conan: The Darkest Nightmare,66265957,2016,Anime,0
48,One Piece Film: Gold,66207073,2016,Anime,0
49,Doraemon: Nobita's Chronicle of the Moon Explo...,65406606,2019,Anime,0

For dataframe df0 - "Top 50 highest gross Japanese films worldwide", we have three predictors : the year released of the movie, the movie revenue and the movie genre. These data will be used to compare Japanese films' revenue, year release, and genres in the location of Japan.

In [ ]:
# Top 50 highest gross japanese films in Japan
table1, columns1, index1 = performXML(node0,1)
table1[0][1] = '¥40,430,000,000'
table1[0][3] = 'Anime'
table1[6][3] = 'Live-action'
for x in table1:
  a = x[1][1:]
  x[1] = int(a.replace(',', ''))
  
df1 = pd.DataFrame(table1)
print (len(table1))
# df1.rename(columns={df.columns[0]:'Movie name',df.columns[1]:'Revenue',df.columns[2]:'Year release',df.columns[3]:'Genre'},inplace=True)
df1.columns = ['Movie name', 'Revenue (Yen)', 'Year release', 'Genre', 'Other']
df1

26

,Movie name,Revenue (Yen),Year release,Genre,Other
0,Demon Slayer the Movie: Mugen Train,40430000000,2020,Anime,0
1,Spirited Away,31680000000,2001,Anime,0
2,Your Name,25030000000,2016,Anime,0
3,Princess Mononoke,20180000000,1997,Anime,0
4,Howl's Moving Castle,19600000000,2004,Anime,0
5,One Piece Film: Red,18670000000,2022,Anime,0
6,Bayside Shakedown 2,17350000000,2003,Live-action,0
7,Ponyo,15500000000,2008,Anime,0
8,Weathering with You,14190000000,2019,Anime,0
9,Jujutsu Kaisen 0,13750000000,2021,Anime,0
10,The Wind Rises,12020000000,2013,Anime,0
11,Antarctica,11000000000,1983,Live-action,0
12,Evangelion: 3.0+1.0 Thrice Upon a Time,10280000000,2021,Anime,0
13,Bayside Shakedown: The Movie,10100000000,1998,Live-action,0
14,The Adventures of Milo and Otis,9800000000,1986,Live-action,0
15,Detective Conan: The Bride of Halloween,9740000000,2022,Anime,0
16,Detective Conan: The Fist of Blue Sapphire,9370000000,2019,Anime,0
17,Code Blue: The Movie,9300000000,2018,Live-action,0
18,Arrietty,9260000000,2010,Anime,0
19,Heaven and Earth,9200000000,1990,Live-action,0
20,Detective Conan: Zero the Enforcer,9180000000,2018,Anime,0
21,The Eternal Zero,8760000000,2013,Live-action,0
22,Rookies: Graduation,8550000000,2009,Live-action,0
23,"Crying Out Love, in the Center of the World",8500000000,2004,Live-action,0
24,Stand by Me Doraemon,8380000000,2014,Anime,0
25,Shin Godzilla,8250000000,2016,Live-action,0

For dataFrame df1 - "Top 50 highest gross Japanese films in Japan", our predictors still keep as the same: the year released of the movie, the movie revenue and the movie genre. From these two DataFrames, we can analyze what kind of Japanese movie will be favorite both in Japan and worldwide, and from there predict what factor made to that success.

In [ ]:
table2, columns2, index2 = performXML(node0,4)

In [ ]:
print(table2)

[['Kimi yo Fundo no Kawa o Watare', '1976', '720,000', '433,700,000', '434,400,000', 'Live-action'], ['1978', '2,400,000', '100,000,000', '102,400,000', 'Live-action'], ['Sandakan No. 8', '1974', 'Un\xadknown', '100,000,000', '100,000,000', 'Live-action'], ['Legend of Dinosaurs & Monster Birds', '1977', '650,000', '48,700,000', '49,400,000', 'Live-action'], ['Spirited Away', '2001', '24,280,000', '22,095,221', '46,375,221', 'Anime'], ['Your Name', '2016', '19,300,000', '25,878,383', '45,178,383', 'Anime'], ['Demon Slayer the Movie: Mugen Train', '2020', '29,151,041', '15,354,900', '44,505,941', 'Anime'], ['Who Are You, Mr. Sorge?', '1961', 'Un\xadknown', '39,200,000', '39,200,000', 'Live-action'], ['Pokémon: The First Movie', '1998', '6,650,000', '30,187,706', '36,837,706', 'Anime'], ['Koi no Kisetsu', '1969', 'Un\xadknown', '27,600,000', '27,600,000', 'Live-action'], ['The Bullet Train', '1975', 'Un\xadknown', '25,440,638', '25,440,638', 'Live-action'], ['Tokyo Olympiad', '1965', '23,500,000', '993,555', '24,493,555', 'Live-action'], ['The Ballad of Narayama', '1983', '1,600,000', '21,945,197', '23,500,000', 'Live-action'], ['Stand by Me Doraemon', '2014', '6,250,000', '16,833,251', '23,083,251', 'Anime'], ['Weathering with You', '2019', '10,539,869', '12,147,184', '22,687,053', 'Anime'], ["Howl's Moving Castle", '2004', '15,500,000', '6,443,336', '21,943,336', 'Anime'], ['Dersu Uzala', '1975', 'Un\xadknown', '21,475,653', '21,475,653', 'Live-action'], ['Emperor Meiji and the Great Russo-Japanese War', '1957', '20,000,000', '—', '20,000,000', 'Live-action'], ['Pokémon: The Movie 2000', '1999', '5,600,000', '13,968,660', '19,568,660', 'Anime'], ['Ponyo', '2008', '12,900,000', '5,202,354', '18,102,354', 'Anime'], ['Dragon Ball Super: Broly', '2018', '3,070,000', '14,417,445', '17,487,445', 'Anime'], ['Princess Mononoke', '1997', '14,970,000', '2,014,830', '16,984,830', 'Anime'], ['Detective Conan: The Fist of Blue Sapphire', '2019', '7,400,000', '7,659,418', '15,059,418', 'Anime'], ['One Piece Film: Red', '2022', '13,000,000', '1,075,100', '14,075,100', 'Anime'], ['Jujutsu Kaisen 0', '2021', '9,840,000', '4,371,597', '13,875,926', 'Anime'], ['King Kong vs. Godzilla', '1962', '12,600,000', '554,695', '13,154,695', 'Live-action'], ['Bayside Shakedown 2', '2003', '12,600,000', '151,823', '12,751,823', 'Live-action'], ['Antarctica', '1983', '12,000,000', '543,470', '12,543,470', 'Live-action'], ['The Secret World of Arrietty', '2012', '7,560,000', '4,865,830', '12,425,830', 'Anime'], ['The Adventures of Milo and Otis', '1986', '7,500,000', '4,518,750', '12,018,750', 'Live-action'], ["Doraemon: Nobita's Treasure Island", '2018', '4,680,000', '7,214,020', '11,894,020', 'Anime'], ['Detective Conan: The Scarlet Bullet', '2021', '5,480,000', '6,413,200', '11,893,200', 'Anime'], ['The Wind Rises', '2013', '9,720,000', '2,131,749', '11,851,749', 'Anime'], ['The Loyal 47 Ronin', '1958', '11,700,000', 'Un\xadknown', '11,700,000', 'Live-action'], ['Detective Conan: Zero the Enforcer', '2018', '6,880,000', '4,608,375', '11,488,375', 'Anime'], ['Sanjuro', '1962', '11,200,000', '12,066', '11,212,066', 'Live-action'], ['Stand by Me Doraemon 2', '2020', '2,260,000', '8,350,611', '10,610,611', 'Anime'], ['Godzilla', '1954', '9,610,000', '839,154', '10,449,154', 'Live-action'], ['One Piece: Stampede', '2019', '3,700,000', '6,701,192', '10,401,192', 'Anime'], ['Pokémon 3: The Movie', '2001', '4,500,000', '5,614,749', '10,114,749', 'Anime']]

In [ ]:
table2[1] = ['Kitakitsune Monogatari'] + table2[1]
for x in table2:
  a,b,c = x[2],x[3],x[4]
  if a != 'Un\xadknown': a = int(a.replace(',',''))
  if b!= 'Un\xadknown' and b != '—': b = int(b.replace(',', ''))
  if c != 'Un\xadknown': c = int(c.replace(',', ''))
  x[2],x[3],x[4] = a,b,c
print (table2)

[['Kimi yo Fundo no Kawa o Watare', '1976', 720000, 433700000, 434400000, 'Live-action'], ['Kitakitsune Monogatari', '1978', 2400000, 100000000, 102400000, 'Live-action'], ['Sandakan No. 8', '1974', 'Un\xadknown', 100000000, 100000000, 'Live-action'], ['Legend of Dinosaurs & Monster Birds', '1977', 650000, 48700000, 49400000, 'Live-action'], ['Spirited Away', '2001', 24280000, 22095221, 46375221, 'Anime'], ['Your Name', '2016', 19300000, 25878383, 45178383, 'Anime'], ['Demon Slayer the Movie: Mugen Train', '2020', 29151041, 15354900, 44505941, 'Anime'], ['Who Are You, Mr. Sorge?', '1961', 'Un\xadknown', 39200000, 39200000, 'Live-action'], ['Pokémon: The First Movie', '1998', 6650000, 30187706, 36837706, 'Anime'], ['Koi no Kisetsu', '1969', 'Un\xadknown', 27600000, 27600000, 'Live-action'], ['The Bullet Train', '1975', 'Un\xadknown', 25440638, 25440638, 'Live-action'], ['Tokyo Olympiad', '1965', 23500000, 993555, 24493555, 'Live-action'], ['The Ballad of Narayama', '1983', 1600000, 21945197, 23500000, 'Live-action'], ['Stand by Me Doraemon', '2014', 6250000, 16833251, 23083251, 'Anime'], ['Weathering with You', '2019', 10539869, 12147184, 22687053, 'Anime'], ["Howl's Moving Castle", '2004', 15500000, 6443336, 21943336, 'Anime'], ['Dersu Uzala', '1975', 'Un\xadknown', 21475653, 21475653, 'Live-action'], ['Emperor Meiji and the Great Russo-Japanese War', '1957', 20000000, '—', 20000000, 'Live-action'], ['Pokémon: The Movie 2000', '1999', 5600000, 13968660, 19568660, 'Anime'], ['Ponyo', '2008', 12900000, 5202354, 18102354, 'Anime'], ['Dragon Ball Super: Broly', '2018', 3070000, 14417445, 17487445, 'Anime'], ['Princess Mononoke', '1997', 14970000, 2014830, 16984830, 'Anime'], ['Detective Conan: The Fist of Blue Sapphire', '2019', 7400000, 7659418, 15059418, 'Anime'], ['One Piece Film: Red', '2022', 13000000, 1075100, 14075100, 'Anime'], ['Jujutsu Kaisen 0', '2021', 9840000, 4371597, 13875926, 'Anime'], ['King Kong vs. Godzilla', '1962', 12600000, 554695, 13154695, 'Live-action'], ['Bayside Shakedown 2', '2003', 12600000, 151823, 12751823, 'Live-action'], ['Antarctica', '1983', 12000000, 543470, 12543470, 'Live-action'], ['The Secret World of Arrietty', '2012', 7560000, 4865830, 12425830, 'Anime'], ['The Adventures of Milo and Otis', '1986', 7500000, 4518750, 12018750, 'Live-action'], ["Doraemon: Nobita's Treasure Island", '2018', 4680000, 7214020, 11894020, 'Anime'], ['Detective Conan: The Scarlet Bullet', '2021', 5480000, 6413200, 11893200, 'Anime'], ['The Wind Rises', '2013', 9720000, 2131749, 11851749, 'Anime'], ['The Loyal 47 Ronin', '1958', 11700000, 'Un\xadknown', 11700000, 'Live-action'], ['Detective Conan: Zero the Enforcer', '2018', 6880000, 4608375, 11488375, 'Anime'], ['Sanjuro', '1962', 11200000, 12066, 11212066, 'Live-action'], ['Stand by Me Doraemon 2', '2020', 2260000, 8350611, 10610611, 'Anime'], ['Godzilla', '1954', 9610000, 839154, 10449154, 'Live-action'], ['One Piece: Stampede', '2019', 3700000, 6701192, 10401192, 'Anime'], ['Pokémon 3: The Movie', '2001', 4500000, 5614749, 10114749, 'Anime']]

In [ ]:
# Top 50 box ticket sales all the time
df2 = pd.DataFrame(table2)
# df2.rename(columns={df.columns[0]:'Year released',df.columns[1]:'Ticket sale in Japan',df.columns[2]:'Ticket sale oversea',df.columns[3]:'Ticket sale worldwide', df.columns[4]:'Movie genre'},inplace=True)
df2

,0,1,2,3,4,5
0,Kimi yo Fundo no Kawa o Watare,1976,720000,433700000,434400000,Live-action
1,Kitakitsune Monogatari,1978,2400000,100000000,102400000,Live-action
2,Sandakan No. 8,1974,Un­known,100000000,100000000,Live-action
3,Legend of Dinosaurs & Monster Birds,1977,650000,48700000,49400000,Live-action
4,Spirited Away,2001,24280000,22095221,46375221,Anime
5,Your Name,2016,19300000,25878383,45178383,Anime
6,Demon Slayer the Movie: Mugen Train,2020,29151041,15354900,44505941,Anime
7,"Who Are You, Mr. Sorge?",1961,Un­known,39200000,39200000,Live-action
8,Pokémon: The First Movie,1998,6650000,30187706,36837706,Anime
9,Koi no Kisetsu,1969,Un­known,27600000,27600000,Live-action
10,The Bullet Train,1975,Un­known,25440638,25440638,Live-action
11,Tokyo Olympiad,1965,23500000,993555,24493555,Live-action
12,The Ballad of Narayama,1983,1600000,21945197,23500000,Live-action
13,Stand by Me Doraemon,2014,6250000,16833251,23083251,Anime
14,Weathering with You,2019,10539869,12147184,22687053,Anime
15,Howl's Moving Castle,2004,15500000,6443336,21943336,Anime
16,Dersu Uzala,1975,Un­known,21475653,21475653,Live-action
17,Emperor Meiji and the Great Russo-Japanese War,1957,20000000,—,20000000,Live-action
18,Pokémon: The Movie 2000,1999,5600000,13968660,19568660,Anime
19,Ponyo,2008,12900000,5202354,18102354,Anime
20,Dragon Ball Super: Broly,2018,3070000,14417445,17487445,Anime
21,Princess Mononoke,1997,14970000,2014830,16984830,Anime
22,Detective Conan: The Fist of Blue Sapphire,2019,7400000,7659418,15059418,Anime
23,One Piece Film: Red,2022,13000000,1075100,14075100,Anime
24,Jujutsu Kaisen 0,2021,9840000,4371597,13875926,Anime
25,King Kong vs. Godzilla,1962,12600000,554695,13154695,Live-action
26,Bayside Shakedown 2,2003,12600000,151823,12751823,Live-action
27,Antarctica,1983,12000000,543470,12543470,Live-action
28,The Secret World of Arrietty,2012,7560000,4865830,12425830,Anime
29,The Adventures of Milo and Otis,1986,7500000,4518750,12018750,Live-action
30,Doraemon: Nobita's Treasure Island,2018,4680000,7214020,11894020,Anime
31,Detective Conan: The Scarlet Bullet,2021,5480000,6413200,11893200,Anime
32,The Wind Rises,2013,9720000,2131749,11851749,Anime
33,The Loyal 47 Ronin,1958,11700000,Un­known,11700000,Live-action
34,Detective Conan: Zero the Enforcer,2018,6880000,4608375,11488375,Anime
35,Sanjuro,1962,11200000,12066,11212066,Live-action
36,Stand by Me Doraemon 2,2020,2260000,8350611,10610611,Anime
37,Godzilla,1954,9610000,839154,10449154,Live-action
38,One Piece: Stampede,2019,3700000,6701192,10401192,Anime
39,Pokémon 3: The Movie,2001,4500000,5614749,10114749,Anime

In [ ]:
table4 = []
for x in table2:
  for y in table0:
    if x[0] == y[0]:
      table4.append(x + [y[1]])
      break

print (table4)

[['Spirited Away', '2001', 24280000, 22095221, 46375221, 'Anime', 395580000], ['Your Name', '2016', 19300000, 25878383, 45178383, 'Anime', 380140500], ['Demon Slayer the Movie: Mugen Train', '2020', 29151041, 15354900, 44505941, 'Anime', 506523013], ['Pokémon: The First Movie', '1998', 6650000, 30187706, 36837706, 'Anime', 172744662], ['Stand by Me Doraemon', '2014', 6250000, 16833251, 23083251, 'Anime', 183442714], ['Weathering with You', '2019', 10539869, 12147184, 22687053, 'Anime', 193715360], ["Howl's Moving Castle", '2004', 15500000, 6443336, 21943336, 'Anime', 236323601], ['Pokémon: The Movie 2000', '1999', 5600000, 13968660, 19568660, 'Anime', 133949270], ['Ponyo', '2008', 12900000, 5202354, 18102354, 'Anime', 204826668], ['Dragon Ball Super: Broly', '2018', 3070000, 14417445, 17487445, 'Anime', 122747755], ['Princess Mononoke', '1997', 14970000, 2014830, 16984830, 'Anime', 170005875], ['Detective Conan: The Fist of Blue Sapphire', '2019', 7400000, 7659418, 15059418, 'Anime', 115570314], ['One Piece Film: Red', '2022', 13000000, 1075100, 14075100, 'Anime', 206740295], ['Jujutsu Kaisen 0', '2021', 9840000, 4371597, 13875926, 'Anime', 195870885], ['Bayside Shakedown 2', '2003', 12600000, 151823, 12751823, 'Live-action', 164450000], ['Antarctica', '1983', 12000000, 543470, 12543470, 'Live-action', 101000000], ['The Secret World of Arrietty', '2012', 7560000, 4865830, 12425830, 'Anime', 149411550], ['The Adventures of Milo and Otis', '1986', 7500000, 4518750, 12018750, 'Live-action', 104121749], ['Detective Conan: The Scarlet Bullet', '2021', 5480000, 6413200, 11893200, 'Anime', 102541282], ['The Wind Rises', '2013', 9720000, 2131749, 11851749, 'Anime', 136533257], ['Detective Conan: Zero the Enforcer', '2018', 6880000, 4608375, 11488375, 'Anime', 108207000], ['One Piece: Stampede', '2019', 3700000, 6701192, 10401192, 'Anime', 93000000], ['Pokémon 3: The Movie', '2001', 4500000, 5614749, 10114749, 'Anime', 68411275]]

At DataFrame df2 - box ticket sales all the time, we use a different factor: the ticket sale to comparing what is the gap among ticket sales in Japan, oversea and in worldwide. This step can help us to see the trending movie through the time, and analyze what factors that make a movie stays legend.

In [ ]:
ref_url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_Japanese_films#cite_ref-153'
res = requests.get(ref_url)

wiki_html = res.text

htmlparser = etree.HTMLParser()
try:
    # This one should work
    tree = etree.parse(io.StringIO(wiki_html), parser=htmlparser)
    # root of the whole wiki page in HTML
    root = tree.getroot()
except:
    print("Failed to parse as HTML")

node = root.xpath("//ol[contains(@class,'references')]")

table3 = []
for x in node[0].getchildren():
  a = []
  for y in x.getchildren():
    for z in y.getchildren():
      if z.tag == 'i':
        # print (z.text)
        a.append(z.text)
      if z.tag == 'ul':
        for t in z.getchildren():
          if t.tag == 'li':
            a.append(t.text)
  if len(a) > 0: table3.append(a)
  # print (etree.tostring(z, pretty_print = True).decode())

print (table3)

[['Kimi yo Fundo no Kawa o Watare', 'Manhunt', None, None], ['Mothra vs. Godzilla'], ['Spirited Away', 'China – 15,722,581', 'Europe – 2,995,684', 'United States and Canada – 1,961,800', 'South Korea (', 'Brazil and Argentina – 477,697'], ['Your Name', 'China – 20,728,000', 'South Korea – 3,712,891', 'Europe (excluding Russia and Spain) – 627,384', 'United States and Canada – 580,000', 'Russia and Argentina – 169,600', 'Spain – 60,508'], ['Demon Slayer the Movie: Mugen Train', 'Taiwan, Hong Kong, Macau, Southeast Asia, Latin America, Australia, New Zealand, Middle East, Africa – 6,340,000', 'United States and Canada – 5,090,000', 'South Korea – 2,151,861', 'Europe (excluding Russia) – 1,259,895', 'Russia – 513,144'], ['Pokémon: The First Movie', 'United States and Canada – 16,858,300', 'Europe – 12,679,046', 'Brazil – 468,000', 'South Korea (Seoul City) – 182,360'], ['The Bullet Train', 'France – 440,638', 'Soviet Union – 25,000,000+'], ['The Ballad of Narayama', None, 'France – 844,077', 'Netherlands – 1,120'], ['Stand by Me Doraemon', 'China – 15,296,400', 'Europe – 754,321', 'South Korea – 504,153', 'Spain – 278,377'], ['Weathering with You', 'China – 9,329,700', 'United States and Canada – 852,398', 'South Korea – 704,206', 'Taiwan – 700,000', 'Europe – 560,880\n'], ["Howl's Moving Castle", 'South Korea – 3.02', 'France and Germany – 1,741,585', 'United States and Canada – 831,000', 'Europe (excluding France and Germany) – 764,445', 'Brazil – 86,306'], ['Dersu Uzala', 'Soviet Union and Sweden – 20,432,400', 'France – 994,988', 'Other EU territories (since 1996) – 48,265'], ['Pokemon: The Movie 2000', 'United States and Canada – 8,184,000', 'Europe (excluding France) – 5,034,378', 'France – 730,002', 'South Korea (Seoul City) – 20,280'], ['Ponyo', 'United States and Canada – 2,094,000', 'South Korea – 1,521,842', 'France and Germany – 1,019,425', 'Europe (excl. France, Germany, Russia) – 514,690', 'Russia and Brazil – 52,397'], ['Dragon Ball Super: Broly', 'Latin America – 8,420,410+\n', 'United States and Canada – 3,408,700', 'Europe – 1,518,016\n', 'China – 1,034,444', 'South Korea – 35,869'], ['Princess Mononoke', 'Europe (excluding Russia) – 1,164,364', 'United States and Canada – 628,800', 'South Korea – 195,630', 'Russia – 26,036'], ['Detective Conan: The Fist of Blue Sapphire', 'China – 7,440,300', 'South Korea – 219,118'], ['Jujutsu Kaisen 0', 'United States – 3,168,000', 'France and Germany – 631,330', 'South Korea – 572,267'], ['The Secret World of Arrietty', 'United States and Canada – 2,432,000', 'South Korea – 1,083,746', 'France – 934,073', 'Other European territories – 416,011'], ['The Adventures of Milo and Otis', 'United States – 3,200,000', 'Germany and France – 1,318,750'], ["Doraemon: Nobita's Treasure Island", 'China – 7,030,800', 'South Korea – 183,220'], ['Detective Conan: The Scarlet Bullet', 'China – 6,413,200', 'South Korea – 232,871'], ['The Wind Rises', 'Russia – 127,400', 'Europe (excluding Russia and Spain) – 1,186,384', 'United States and Canada – 652,200', 'South Korea – 106,439', 'Spain – 59,326'], ['Detective Conan: The Scarlet Bullet', 'China – 4,172,600', 'South Korea – 419,998', 'Spain – 15,777'], ['Stand by Me Doraemon 2', 'China – 8,268,300', 'South Korea – 82,311'], ['Godzilla', 'France – 835,511', 'United Kingdom (2005–2017) – 3,643'], ['One Piece: Stampede', 'China – 6,678,800', 'South Korea – 22,392'], ['Pokémon 3', 'United States and Canada – 3,055,000', 'Europe (excluding France) – 1,861,273', 'Brazil – 538,075', 'France – 160,401']]